<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <application
        android:allowBackup="true"
        android:label="PHREEQC plus"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:hardwareAccelerated="true">
        <activity
            android:name="cz.p.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cz.p.OpenBabel" />
        <activity android:name="cz.p.Opsin" />
        <activity android:name="cz.p.SelectDatabase" />
        <activity android:name="cz.p.XBasic01" />
        <activity android:name="cz.p.XBasic1" />
        <activity android:name="cz.p.XBasic12" />
        <activity android:name="cz.p.XBasic2" />
        <activity android:name="cz.p.XBasic3" />
        <activity android:name="cz.p.XBasic4" />
        <activity android:name="cz.p.XBasic45" />
        <activity android:name="cz.p.XBasic5" />
        <activity android:name="cz.p.XBasic6" />
        <activity android:name="cz.p.XBasic7" />
        <activity android:name="cz.p.XBasic8" />
        <activity android:name="cz.p.XBasic9" />
        <activity android:name="cz.p.XBasic10" />
        <activity android:name="cz.p.Phreeqc" />
        <activity android:name="cz.p.RefGCM1" />
        <activity android:name="cz.p.RefGCM2" />
        <activity android:name="cz.p.RefGCM3" />
        <activity android:name="cz.p.RefGCM4" />
        <activity android:name="cz.p.Refg" />
        <activity android:name="cz.p.Refl" />
        <activity android:name="cz.p.Refc" />
        <activity android:name="cz.p.Refs" />
        <activity android:name="cz.p.Refss" />
        <activity android:name="cz.p.CompGCM1" />
        <activity android:name="cz.p.CompGCM2" />
        <activity android:name="cz.p.CompGCM3" />
        <activity android:name="cz.p.CompGCM4" />
        <activity android:name="cz.p.Compg" />
        <activity android:name="cz.p.CompgMOPAC" />
        <activity android:name="cz.p.Compl" />
        <activity android:name="cz.p.Compc" />
        <activity android:name="cz.p.Comps" />
        <activity android:name="cz.p.CompsMOPAC" />
        <activity android:name="cz.p.Compss" />
        <activity android:name="cz.p.CompssMOPAC" />
        <activity android:name="cz.p.ConvertS" />
        <activity android:name="cz.p.ConvertG" />
        <activity android:name="cz.p.ConvertL" />
        <activity android:name="cz.p.ConvertC" />
        <activity android:name="cz.p.Vdw" />
        <activity android:name="cz.p.Mulliken" />
        <activity android:name="cz.p.Esp" />
        <activity android:name="cz.p.Solvation" />
        <activity android:name="cz.p.DevMode" />
        <activity android:name="cz.p.ConvertDialog" />
        <activity android:name="cz.p.ShellTools" />
        <activity android:name="cz.p.BulkConversion" />
        <activity android:name="cz.p.Chemsol" />
        <activity android:name="cz.p.Chemsol1" />
        <activity android:name="cz.p.Chemsol2" />
        <activity android:name="cz.p.Mopac" />
        <activity android:name="cz.p.Obabel" />
        <activity android:name="cz.p.UniUni" />
        <activity android:name="cz.p.UniBi" />
        <activity android:name="cz.p.BiBi" />
        <activity android:name="cz.p.BiTri" />
        <activity android:name="cz.p.KineticsUniUni" />
        <activity android:name="cz.p.KineticsUniBi" />
        <activity android:name="cz.p.KineticsBiBi" />
        <activity android:name="cz.p.KineticsBiTri" />
        <activity android:name="cz.p.Fastchem" />
        <activity android:name="cz.p.SelectAtmoFile" />
        <activity android:name="cz.p.SelectAbundFile" />
        <activity android:name="cz.p.SelectDataFile" />
        <activity android:name="cz.p.SelectDataFileCond" />
        <activity android:name="cz.p.Licenses" />
        <activity android:name="cz.p.AddSolutionSpecies" />
        <activity android:name="cz.p.AddPhases" />
        <activity android:name="cz.p.AddKinSolutionMasterSpecies" />
        <activity android:name="cz.p.AddKinSolutionSpecies" />
        <activity android:name="cz.p.AddKinRates" />
        <activity android:name="cz.p.AddKinKinetics" />
        <activity android:name="cz.p.AddTSUniUni" />
        <activity android:name="cz.p.AddTSBiBi" />
        <activity android:name="cz.p.AddTSBiTri" />
        <activity android:name="cz.p.AddTSUniBi" />
        <activity android:name="cz.p.DeleteFile" />
        <activity android:name="cz.p.DeletePicker" />
        <activity android:name="cz.p.CustomExport" />
        <activity android:name="cz.p.CustomPicker" />
        <activity android:name="cz.p.ExportDialog" />
        <activity android:name="cz.p.CustomImport" />
        <activity android:name="cz.p.EditExternalFile" />
        <activity android:name="cz.p.EditInternalFile" />
        <activity android:name="cz.p.EditInternalFilePicker" />
        <activity android:name="cz.p.InternalEditor" />
        <activity android:name="cz.p.ConvertPickerC" />
        <activity android:name="cz.p.ConvertPickerL" />
        <activity android:name="cz.p.ConvertPickerG" />
        <activity android:name="cz.p.ConvertPickerS" />
        <activity android:name="cz.p.PhreeqcWork" />
        <activity android:name="cz.p.ObabelWork" />
        <activity android:name="cz.p.MopacWork" />
        <activity android:name="cz.p.ChemsolWork" />
        <activity android:name="cz.p.ResumeActivity" />
        <activity android:name="cz.p.ResumeActivityKin" />
        <activity android:name="cz.p.GCM1" />
        <activity android:name="cz.p.GCM2" />
        <activity android:name="cz.p.GCM3" />
        <activity android:name="cz.p.GCM4" />
        <activity android:name="cz.p.Empirical" />
        <activity android:name="cz.p.DatGCM1" />
        <activity android:name="cz.p.DatGCM2" />
        <activity android:name="cz.p.DatGCM3" />
        <activity android:name="cz.p.GCM1Sum" />
        <activity android:name="cz.p.GCM2Sum" />
        <activity android:name="cz.p.GCM3Sum" />
        <activity android:name="cz.p.EmpiricalKin" />
        <activity android:name="cz.p.GCM1Kin" />
        <activity android:name="cz.p.GCM2Kin" />
        <activity android:name="cz.p.GCM3Kin" />
        <activity android:name="cz.p.ModifyGCM1Kin" />
        <activity android:name="cz.p.ModifyGCM2Kin" />
        <activity android:name="cz.p.ModifyGCM3Kin" />
        <activity android:name="cz.p.ModifyGCM1KinPar" />
        <activity android:name="cz.p.ModifyGCM2KinPar" />
        <activity android:name="cz.p.ModifyGCM3KinPar" />
        <activity android:name="cz.p.KineticsQuery" />
        <activity android:name="cz.p.GeneralMOPAC" />
        <activity android:name="cz.p.GeneralData" />
        <activity android:name="cz.p.GeneralTS" />
        <activity android:name="cz.p.ModifyGeneralMOPAC" />
        <activity android:name="cz.p.ModifyGeneralTS" />
        <activity android:name="cz.p.ModifyGeneralInit" />
        <activity android:name="cz.p.SelectDatabaseKin" />
        <activity android:name="cz.p.AddTSGeneral" />
        <activity android:name="cz.p.ManualPHREEQCplus" />
        <activity android:name="cz.p.ManualPHREEQC3" />
        <activity android:name="cz.p.ManualPHREEQC2" />
        <activity android:name="cz.p.ManualPHREEQCisotopes" />
        <activity android:name="cz.p.ManualChemsol" />
        <activity android:name="cz.p.ManualFastchem" />
        <activity android:name="cz.p.ManualMOPAC" />
        <activity android:name="cz.p.ManualX11Basic" />
        <activity android:name="cz.p.ManualOpenbabel" />
        <activity android:name="cz.p.BackupRestore" />
        <activity android:name="cz.p.BackupRestoreDialog" />
        <!---
                <activity android:name="cz.p.Cp2k" />
                <activity android:name="cz.p.Cp2kWork" />
                <activity android:name="cz.p.ManualCp2k" />
                <activity android:name="cz.p.Cp2k1" />
                <activity android:name="cz.p.CompgCP2K" />
                <activity android:name="cz.p.CompsCP2K" />
                <activity android:name="cz.p.CompssCP2K" />
                <activity android:name="cz.p.XBasic001" />
                <activity android:name="cz.p.XBasic012" />
                <activity android:name="cz.p.XBasic045" />
                <activity android:name="cz.p.RefgCP2K" />
                <activity android:name="cz.p.RefsCP2K" />
                <activity android:name="cz.p.RefssCP2K" />
                <activity android:name="cz.p.Cp2k1SelectRef" />
                <activity android:name="cz.p.Cp2k1SelectRefg" />
                <activity android:name="cz.p.Cp2k1SelectRefs" />
                <activity android:name="cz.p.Cp2k1SelectRefss" />
                -->

        <activity android:name="cz.p.Dftb" />
        <activity android:name="cz.p.DftbWork" />
        <activity android:name="cz.p.DftbWork1" />
        <activity android:name="cz.p.ManualDftb" />
        <activity android:name="cz.p.ManualDftbRecipes" />
        <activity android:name="cz.p.ManualModes" />
        <activity android:name="cz.p.DftbCommand" />
        <activity android:name="cz.p.SpectrumDftb" />
        <!---
        <activity android:name="cz.p.Dftb1" />
        <activity android:name="cz.p.CompgDftb" />
        <activity android:name="cz.p.CompsDftb" />
        <activity android:name="cz.p.CompssDftb" />
        <activity android:name="cz.p.XBasic0001" />
        <activity android:name="cz.p.XBasic0012" />
        <activity android:name="cz.p.XBasic0045" />
        <activity android:name="cz.p.RefgDftb" />
        <activity android:name="cz.p.RefsDftb" />
        <activity android:name="cz.p.RefssDftb" />
        <activity android:name="cz.p.Dftb1SelectRef" />
        <activity android:name="cz.p.Dftb1SelectRefg" />
        <activity android:name="cz.p.Dftb1SelectRefs" />
        <activity android:name="cz.p.Dftb1SelectRefss" />
        -->
        <activity android:name="cz.p.Graph" />
        <activity android:name="cz.p.Scatter" />
        <!---
        <activity android:name="cz.p.SpectrumDFTB" />
        -->
        <activity android:name="cz.p.SpectrumMOPAC" />
        <!---
        <activity android:name="cz.p.XBasic13" />
        -->
        <activity android:name="cz.p.XBasic14" />
        <activity android:name="cz.p.Xtb" />
        <activity android:name="cz.p.Xtb1" />
        <activity android:name="cz.p.XtbWork" />
        <activity android:name="cz.p.XtbWork1" />
        <activity android:name="cz.p.XtbCommand" />
        <activity android:name="cz.p.ManualXtb" />
        <activity android:name="cz.p.ManualStda" />
        <activity android:name="cz.p.SolmakerXtb" />
        <activity android:name="cz.p.GasmakerXtb" />
        <activity android:name="cz.p.SSolmakerXtb" />
        <activity android:name="cz.p.RefsXtb" />
        <activity android:name="cz.p.RefgXtb" />
        <activity android:name="cz.p.RefssXtb" />
        <activity android:name="cz.p.CompsXtb" />
        <activity android:name="cz.p.CompgXtb" />
        <activity android:name="cz.p.CompssXtb" />
        <activity android:name="cz.p.Xtb1SelectRef" />
        <activity android:name="cz.p.Xtb1SelectRefg" />
        <activity android:name="cz.p.Xtb1SelectRefs" />
        <activity android:name="cz.p.Xtb1SelectRefss" />
        <activity android:name="cz.p.SpectrumXTB" />
        <activity android:name="cz.p.ProcessXtb" />
        <activity android:name="cz.p.ProcessFastchem" />
        <activity android:name="cz.p.ChangeSize" />
        <activity android:name="cz.p.PrivacyPolicy" />
        <activity android:name="cz.p.ModifyXtbKinetics" />
        <activity android:name="cz.p.XtbKinetics" />
        <activity android:name="cz.p.XtbKinetics2" />
        <activity android:name="cz.p.ModifyXtbSolid" />
        <activity android:name="cz.p.ProjectionGraph" />
        <activity android:name="cz.p.ProjectionGraphSelector" />
        <activity android:name="cz.p.ModifyXright" />
        <activity android:name="cz.p.ModifyXleft" />
        <activity android:name="cz.p.ModifyYright" />
        <activity android:name="cz.p.ModifyYleft" />
        <activity android:name="cz.p.ModifyZup" />
        <activity android:name="cz.p.ModifyZdown" />
        <activity android:name="cz.p.XtbKinWork1" />
        <activity android:name="cz.p.XtbKinCommand" />
        <activity android:name="cz.p.XtbKin2Work1" />
        <activity android:name="cz.p.XtbKin2Command" />
        <activity android:name="cz.p.PhreeqcDebug" />
        <activity android:name="cz.p.Spannables" />
        <activity android:name="cz.p.Canvas3d_main" />
        <activity android:name="cz.p.Canvas3d_CanvasView"
            tools:ignore="Instantiatable" />
        <activity android:name="cz.p.Canvas3d_ColorTest" />
        <activity android:name="cz.p.Canvas3d_PerTable" />
        <activity android:name="cz.p.Canvas3d_Preferences" />
        <activity android:name="cz.p.Canvas3d_Reactant" />
        <activity android:name="cz.p.Canvas3d_Reactant_ColorTest" />
        <activity android:name="cz.p.Canvas3d_Reactant_PerTable" />
        <activity android:name="cz.p.Canvas3d_Reactant_Preferences" />
        <activity android:name="cz.p.Canvas3d_Product" />
        <activity android:name="cz.p.Canvas3d_Product_ColorTest" />
        <activity android:name="cz.p.Canvas3d_Product_PerTable" />
        <activity android:name="cz.p.Canvas3d_Product_Preferences" />
    </application>
</manifest>